.file {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 3px;
    margin: 0 10px 15px 15px;
    width: 192px; 
    cursor: pointer;
    &__img {
        position: relative;
        img {
            width: 192px; 
            height: 160px;
        }
    }
    &__upload-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        display: none;
    }
    &__selected-icon  {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: none;
    }
    &__description {
        display: flex;
        flex-direction: column;
        color: #505155;
    }
    &__text {
        display: none;
    }
    &__date, &__size {
        display: inline;
        color: #9d9d9d;
        font-size: 13px;
    }
    &__dropdown {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &:hover {
        background-color: #ededed;
        outline: 10px #ededed solid;
    }

    &_selected {
        .file__selected-icon {
            display: flex;
        }
    }
    &_uploading {
        .file__upload-icon {
            display: flex;
        }
    }   
}