.search {
  width: 245px;
  height: 45px;
  border-radius: 30px;
  border: none;
  background-color: #505155;
  background-image: url("../img/Header/Search Icon.png");
  background-position: 245px;
  background-repeat: no-repeat;
  padding: 0 15px 0 15px;
  outline: none;
  font-style: italic;
  color: #ffffff;
}
